.setupSettings i {
    color:var(--md-sys-color-on-primary-container);

    text-align:center;
    font-size:20px;
    
    height: fit-content;
}

.setupSettings {
    min-width:50px;

    justify-content:center;
    align-items:center;
}

.setupSettings select {
    opacity:0.0;

    position:absolute;

    width:46px;
}

option {
    padding:4px;
    
    background-color:var(--md-sys-color-on-tertiary-container);

}

#title {
    flex:1;

    align-self:center;

    text-align:center;

    color:var(--md-sys-color-on-primary-container);
    font-size:30px;

    padding:0px;
}

#controls {
    width:100%;

    display:flex;
    justify-content:flex-end;
    flex-direction:row;

    margin-right:8px;
}

#next, #previous {
    width:100px;
}