body {
    overflow-y: hidden;
}

.setupSettings i {
    color:var(--md-sys-color-on-primary-container);

    text-align:center;
    font-size:20px;
    
    height: fit-content;
}

.setupSettings {
    min-width:50px;

    justify-content:center;
    align-items:center;
}

#title {
    flex:1;

    align-self:center;

    text-align:center;

    color:var(--md-sys-color-on-primary-container);
    font-size:30px;

    padding:0px;
}

#controls {
    width:calc(100% - 8px);

    display:flex;
    justify-content:flex-end;
    flex-direction:row;

    margin-right:8px;

    flex:1;
}

#next, #previous {
    width:100px;
}

#holder{
    height:100%;
    display:flex;
    flex-direction:column;
}

#settings {
	flex:7;
  }

  .logo {
    background-size:60%;
    background-image:url('../assets/images/image (2).png')
  }

  #setUpPages {
    border-width:0px;
    height:100%;
    width:100%;
  }