body {
    overflow-y: hidden;
}

.setupSettings i {
    color:var(--md-sys-color-on-primary);

    text-align:center;
    font-size:20px;
    
    height: fit-content;
}

.setupSettings {
    min-width:50px;

    justify-content:center;
    align-items:center;
}

#title {
    flex:1;

    text-align:left;

    color:var(--md-sys-color-on-primary);
    font-size:30px;

    padding:0px;
}

#controls {
    position:fixed;

    bottom:16px;
    right:16px;
    left:16px;

    width:calc(100% - 32px);

    display:flex;
    justify-content:flex-end;
    flex-direction:row;
}

#controls p {
  margin-top:auto;
  margin-bottom:auto;

  width:100%;
}

#next, #previous {
    width:100px;
}

#holder{
    height:100%;
    display:flex;
    flex-direction:column;
}

#settings {
	flex:7;
  }

  .logo {
    background-size:60%;
    background-image:url('../assets/images/image (2).png')
  }

  #setUpPages {
    border-width:0px;
    height:100%;
    width:100%;
  }

  #welcome {
    width:100%;
    display:flex;
    flex-direction:column;

    text-align:center;

    align-items: center;
  }

  #searchEngine, h4 {
    width:800px;
  }

  #searchEngine {
    font-size:16px;

    margin-top:8px;
    margin-bottom:8px;
  }

  #searchPerms {
    flex-direction:column;

    margin-left:auto;
    margin-right:auto;

    margin-top:8px;

    width:calc(800px - 16px);

    background-color:var(--md-sys-color-tertiary);
    color:var(--md-sys-color-on-tertiary);
  }